<footer class="text-center bg-dark text-white"> 

<section class="container d-flex justify-content-center justify-content-lg-between p-4">
    <div class="me-5 d-none d-lg-block">
        <span>Get connected with us on social networks:</span>
      </div>
    <div>
       <a href="#"> <i class="fa fa-google"></i></a>
        <a href="#"><i class="fa fa-instagram"></i></a>
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-youtube"></i></a>
        <a href="#"><i class="fa fa-whatsapp"></i></a>
        
        
        
    </div>
</section>
<section>
    <div class="container text-center text-md-start mt-5">
        <div class="row">
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                <h6 class="text-uppercase fw-bold mb-4"><i class="fa fa-cart-plus"></i> ShopKart</h6>
                <p>
                  shopkart.com is a one stop destination for your family's fashion needs.
                   We give you the opportunity to give your wardrobe a makeover with the latest collections from our top brands.
                </p>
              </div>
            <div class="col-md-2 col-lg-4 col-xl-2  mx-auto mb-4" >
                <h6 class="text-uppercase fw-bold">make money with us</h6>
                <p><a href="#">FAQ</a></p>
                <p><a href="#">FeedBack</a></p>
                <p><a href="#">About Us</a></p>
                <p><a href="#">Contact Us</a></p>
                
                
            </div>
            <div class="col-md-2 col-lg-4 col-xl-2 mx-auto mb-4  " >
                <h6 class="text-uppercase fw-bold">contact</h6>
                <p><i class ="fa fa-home">SK</i></p>
                <p><i class="fa fa-envelope">sk@123</i></p>
                <p><i class="fa fa-phone">+ 91 6281****3</i></p>
                
            </div>
        </div>
    </div>
</section>
</footer>