{% extends 'shopapp/layout/main.html' %}

{% block title%} 
 shopkart|home
{% endblock title %}






{% block content%}
{% block slider%}
{% include 'shopapp/inc/slider.html'%}
{% endblock slider %}


<div class="container style:margin-top:90px">
    
    <div class="col-12">
        <h4>Latest Offers</h4>
        <hr style ="border-color:brown">
    </div>
    <section class ="bg-light py-4 my-5 ">
        <div class ="row">
            
            {% for item in product %}
            <div class="col-md-4 col-lg-3">
                <div class="card my-3">
                    <img  class = "card-image-top" src="{{item.image.url}}" alt="">
                    <a href="{url 'product_view' item.categoty.name item.name}">
                        <div class="card-body">
                            <h5>{{item.name}}</h5>
                            <p>{{item.selling_price}}</p>
                        </div>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
</div>

{% endblock content %}
