
{% extends 'shopapp/layout/main.html' %}
{% load static %}

{% block title%} 
 shopkart|
{% endblock title %}


{% block content%}

<section class="bg-light py-4 my-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h4 class="mb-3"> {{category_name}} product</h4>
                <hr style ="border-color:brown">
                {% include 'shopapp/inc/message.html'%}

            </div>
            {%  for item in product %}
            <div class="col-md-4 col-lg-3">
                <div class="card my-3">
                    <img src="{{item.image.url}}" class="card-image-top" alt="">
                    <a href="{% url 'product_view' item.categoty.name item.name %}">
                        <div class="card-body">
                                <h4 class="card-title">{{item.name}}</h4>
                                <p class ="card-text">
                                   <span class="float-start oldprice"><s>Rs {{item.original_price | stringformat:'d'}}</s></span>
                                   <span class="float-end newprice ">Rs {{item.selling_price | stringformat:'d'}}</span>
                                </p>
                        </div>
                    </a>

                </div>
            </div>
            {% endfor %}
        </div>

    </div>
</section>

{% endblock content %}

