
{% extends 'shopapp/layout/main.html' %}
{% load static %}

{% block title%} 
 shopkart|
{% endblock title %}


{% block content%}

<section class="bg-light py-4 my-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h4 class="mb-3 text-uppercase"> {{product.name}} product</h4>
                <hr style ="border-color:brown">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a href="{%url 'Homie' %}">Home</a></li>
                      <li class="breadcrumb-item active" aria-current="page"><a href="{%url 'collections' %}">Collections</a></li>
                      <li class="breadcrumb-item"><a href="{%url 'collections_view' product.categoty.name %}">{{product.categoty.name}}</a></li>
                      <li class="breadcrumb-item active" aria-current="page">{{product.name}}</li>
                    </ol>
                  </nav>
                  {% include 'shopapp/inc/message.html'%}


            </div>
            <hr>
           
            
                <div class="col-4 my-3 pic-box">
                    {% if product.trending  %}
                    <div class="hot" >  hot </div>
                    {% endif %}
                    <img src="{{product.image.url}}" alt="">
                </div>
                <div class="col-8 my-3">
                    <h2 class="text-secondary"> {{product.name | upper }}</h2>
                    <p>{{product.vendor}}</p>
                    <p>{{product.description}}</p>
                    <h3 class="my-3 text-primary"> OFFER PRICE : {{product.original_price}}</h3>
                    <h4 class="my-3 text-danger " ><s>Current Price  : {{product.selling_price}}</s></h4>
                    <div  class="my-3">
                    {% if product.quantity > 0 %}
                         <p>
                            <input type="hidden" value= "{{products.id}}" id="pid">
                            <div class="input-group">
                                <button class="input-group-text bg-success text-light" id="btnMinus"><i class='fa fa-minus'></i></button>
                                <input type="text"  name='qty' id="txtQty" value="1"  class="form-control text-center">
                                <button class="input-group-text bg-success text-light" id="btnPlus"><i class='fa fa-plus'></i></button>
 
                            </div>
                         </p>
                        <button class="btn btn-primary" id="btnCart"><i class="fa fa-shopping-cart"> Add to cart</i></button>
                    {% else %}
                        <button class="btn btn-secondary"><i class="fa fa-sad"> OUT OF STOCK</i></button>
                    {% endif%}
                        <button class="btn btn-danger"><i class="fa fa-heart"></i></button>
                    </div>
                </div>
            

            
    </div>
</section>



<script>
  console.log("Script is running");
  document.addEventListener("DOMContentLoaded", function(event) {
  const btnPlus = document.getElementById("btnPlus");
  const btnMinus = document.getElementById("btnMinus");
  const txtQty = document.getElementById("txtQty");
  const pid = document.getElementById("pid");
  const btnCart = document.getElementById("btnCart");
  const btnFav = document.getElementById("btnFav");

  btnPlus.addEventListener("click", function() {
    let qty=parseInt(txtQty.value,10);
    qty=isNaN(qty)?0:qty;
    //console.log(qty);
    console.log("Button Plus Clicked: Quantity is now " + qty);
    if(qty<10){
      qty++;
      txtQty.value=qty;
    }
  });

  btnMinus.addEventListener("click", function() {
      let qty=parseInt(txtQty.value,10);
      qty=isNaN(qty)?0:qty;
      //console.log(qty);
      if(qty>1){
        qty--;
        txtQty.value=qty;
      }
  });

  btnCart.addEventListener("click", function() {
      let qty=parseInt(txtQty.value,10);
      qty=isNaN(qty)?0:qty;
      
      if(qty>0){
        let postObj = { 
            'product_qty': qty, 
            'pid': pid.value
        }
        //console.log(postObj);
        fetch("/addtocart",{
          method: 'POST',
          credentials: 'same-origin',
          headers:{
              'Accept': 'application/json',
              'X-Requested-With': 'XMLHttpRequest',
              'X-CSRFToken': '{{ csrf_token }}',
          },
          body: JSON.stringify(postObj)
        }).then(response => {
	        return response.json();
        }).then(data => {
        	//console.log(data);
          alert(data['status']);
        });
 

      }else{
        alert("Please Enter The Quantity");
      }
      
  });
});
</script>

{% endblock content %}